[Unit]
Description=Mongodb backups to S3 for tracker
Requires=docker.service
Requires=mongodb.service
After=docker.service
After=mongodb.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p \
  --read-only --tmpfs /home/mybackups \
  --cap-drop=all \
  --net=tracker \
  -e MONGODB_USER=${MONGODB_USER} \
  -e MONGODB_PASSWORD=${MONGODB_PASSWORD} \
  -e MONGODB_DATABASE=${MONGODB_DATABASE} \
  -e MONGODB_HOST=mongodb \
  -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
  -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
  -e AWS_ENDPOINT_URL=https://${S3_HOST} \
  -e AWS_BUCKET=tracker_mongodb \
  ebisc/mongodb-backups-s3
ExecStop=/usr/bin/docker stop %p
