[Unit]
Description=Run the tracker at 07,12,16:00:00

[Timer]
OnCalendar=*-*-* 07,12,16:00:00
Unit=tracker.service

[Install]
WantedBy=multi-user.target
