DB_USER={{ postgresql_user }}
DB_PASS={{ postgresql_password }}
DB_NAME={{ postgresql_database }}
DB_HOST=ims-postgres
ES_HOST=ims-elasticsearch
SECRET_KEY={{ django_secret_key }}
BIOSAMPLES_KEY={{ biosample_key }}
DEFAULT_FROM_EMAIL=EBiSC <{{ canonical_sender }}>
SERVER_EMAIL={{ ansible_hostname }} <{{ canonical_sender }}>
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port }}
{% if smtp_relay_account != '' %}
SMTP_USER={{ smtp_relay_account.user }}
SMTP_PASSWORD={{ smtp_relay_account.pass }}
SMTP_USE_TLS=True
{% endif %}
http_proxy={{ proxy_env.http_proxy }}
https_proxy={{ proxy_env.https_proxy }}
TZ={{ time_zone }}
