DB_USER={{ postgresql_user }}
DB_PASS={{ postgresql_password }}
DB_NAME={{ postgresql_database }}
DB_HOST=ims-postgres
ES_HOST=ims-elasticsearch
SECRET_KEY={{ django_secret_key }}
HPSCREG_PASSWORD={{ hpscreg_password }}
HPSCREG_USER={{ hpscreg_user }}
LIMS_PASSWORD={{ lims_password }}
LIMS_USER={{ lims_user }}
{% if ims_role == "production" %}
SENDGRID_API_KEY={{ email_api_key }}
{% endif %}
http_proxy={{ proxy_env.http_proxy }}
https_proxy={{ proxy_env.https_proxy }}
