server {
  listen 8080;
  server_name
        cells.ebisc.org
        www.cells.ebisc.org
        cell.ebisc.org
        www.cell.ebisc.org
        catalog.ebisc.org
        www.catalog.ebisc.org
        catalogue.ebisc.org
        www.catalogue.ebisc.org;
  location /.well-known/ {
    #root /usr/share/nginx/html;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://ebisc-ims.cell-type.org;
  }
  #location / {
  #  proxy_set_header Host $host;
  #  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  #  proxy_pass http://ebisc-ims.cell-type.org;
  #}
  
  location / {
    rewrite ^/(.*) https://cells.ebisc.org/$1 permanent;
  }
}


server {
  listen 8080;
  server_name cells-stage.ebisc.org;
  location /.well-known/ { root /usr/share/nginx/html; }
  #location / {
  #  proxy_set_header Host $host;
  #  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  #  proxy_pass http://ebisc-ims.cell-type.org;
  #}

  location / {
    rewrite ^/(.*) https://cells-stage.ebisc.org/$1 permanent;
  }
}

{% if tracker_ip is defined %}
server {
  listen 8080;
  server_name tracker.cell-type.org;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #proxy_pass http://{{ tracker_ip }}:80;
    proxy_pass http://ebisc-ims.cell-type.org:80;
  }
}
{% endif %}
