{% if ims_staging_ip is defined %}
server {
  listen 8443;
  server_name cells-stage.ebisc.org {{bastion_public_ip}};
  location / {
    auth_basic "EBiSC";
    auth_basic_user_file /etc/nginx/htpasswd;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://{{ ims_staging_ip }}:80;
  }
  ssl on;
  ssl_certificate     /etc/letsencrypt/live/cells.ebisc.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/cells.ebisc.org/privkey.pem;
}
{% endif %}

{% if ims_ip is defined %}
server {
  listen 8443;
  server_name cells.ebisc.org;

  location / {
    proxy_set_header Host cells.ebisc.org;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://{{ ims_ip }}:80;
  }
  ssl on;
  ssl_certificate     /etc/letsencrypt/live/cells.ebisc.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/cells.ebisc.org/privkey.pem;
}
{% endif %}

{% for host in ['catalog.ebisc.org', 'catalogue.ebisc.org', 'cell.ebisc.org', 'www.catalog.ebisc.org', 'www.catalogue.ebisc.org', 'www.cell.ebisc.org', 'www.cells.ebisc.org']  %}
server {
  listen 8443;
  server_name {{ host }};
  rewrite ^/(.*) https://cells.ebisc.org/$1 permanent;

  ssl on;
  ssl_certificate     /etc/letsencrypt/live/cells.ebisc.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/cells.ebisc.org/privkey.pem;
}
{% endfor %}
