git_branch: master
ims_role: develop
log_mail_to: "johannes.dewender@charite.de"
#use_proxy: False
#proxy_env:
#  http_proxy ""
#  https_proxy ""

main_ims_domain: cells.ebisc.org
main_certificate: cells.ebisc.org
ims_domains:
  - name: cellfinder-u1.charite.de
    letsencrypt: no

ims_inject_dir: "{{ playbook_dir }}/../ebisc"
