[Unit]
Description=Check for Letsenrypt certificate updates twice a day at random times

[Timer]
OnCalendar=*-*-* 00,12:00:00
RandomizedDelaySec=43200
Unit=letsencrypt.service

[Install]
WantedBy=multi-user.target
