export http_proxy="{{ proxy_env.http_proxy }}"
export https_proxy="{{ proxy_env.https_proxy }}"
export ftp_proxy="{{ proxy_env.ftp_proxy }}"
export gopher_proxy="{{ proxy_env.gopher_proxy }}"
export no_proxy="{{ proxy_env.no_proxy }}"
