{% if ims_role == 'production' %}
server {
  listen 8443 default_server;
  server_name _;
  # Django can only handle known/allowed names
  # so we keep away unknown server/host names
  return 444;

  # necessary anyways, although the connection should be close (nginx complains)
  ssl_certificate     /etc/letsencrypt/live/{{ main_certificate }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ main_certificate }}/privkey.pem;
}
{% endif %}

{% for domain in ims_domains %}
{% if domain.letsencrypt %}
server {
  listen 8443 ssl;
  server_name {{ domain.name }};

  location / {
{% if domain.name == main_ims_domain or ims_role != 'production' %}
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://{{ ims_host }}:{{ ims_port }};
{% else %}
    rewrite ^/(.*) https://{{ main_ims_domain }}/$1 permanent;
{% endif %}
  }
  ssl_certificate     /etc/letsencrypt/live/{{ main_certificate }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ main_certificate }}/privkey.pem;
{% for ssl_setting in ssl_settings %}
  {{ ssl_setting }}
{% endfor %}
}
{% endif %}
{% endfor %}

{% if tracker_domain is defined %}
server {
  listen 8443 ssl;
  server_name {{ tracker_domain }};

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://{{ tracker_host }}:{{ tracker_port }};
  }
  ssl_certificate     /etc/letsencrypt/live/{{ main_certificate }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ main_certificate }}/privkey.pem;
{% for ssl_setting in ssl_settings %}
  {{ ssl_setting }}
{% endfor %}
}
{% endif %}

{% if main_ebisc_domain is defined %}
server {
  listen 8443 ssl;
  server_name
{% for domain in ebisc_domains %}
		{{ domain.name }}
{% endfor %}
		;

  location / {
    rewrite ^/(.*) https://{{ main_ebisc_domain }}/$1 permanent;
  }
  ssl_certificate     /etc/letsencrypt/live/{{ main_certificate }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ main_certificate }}/privkey.pem;
{% for ssl_setting in ssl_settings %}
  {{ ssl_setting }}
{% endfor %}
}
{% endif %}
