#cloud-config
coreos:
  update:
    reboot-strategy: etcd-lock
    group: stable
  etcd2:
{% if new_cluster %}
    discovery: {{ discovery_token.content }}
{% else %}
    initial-cluster: {{ cluster_peers }}
    initial-cluster-state: existing
    initial-advertise-peer-urls: https://$private_ipv4:2380
{% endif %}
    advertise-client-urls: https://$private_ipv4:2379
    # http for localhost but TLS for any other connection
    listen-client-urls: http://127.0.0.1:2379,https://$private_ipv4:2379
    listen-peer-urls: https://$private_ipv4:2380
    peer-cert-file: /home/core/server.pem
    peer-key-file: /home/core/server-key.pem
    peer-trusted-ca-file: /home/core/ca.pem
    cert-file: /home/core/server.pem
    key-file: /home/core/server-key.pem
    #trusted-ca-file: /home/core/ca.pem
  fleet:
    etcd_servers: http://127.0.0.1:2379
    public_ip: $private_ipv4
  locksmith:
    endpoint: http://127.0.0.1:2379
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: fleet.service
      drop-ins:
        - name: 50-etcd_credentials.conf
          content: |
            [Service]
            Environment="FLEET_ETCD_USERNAME=root"
            Environment="FLEET_ETCD_PASSWORD={{ etcd_root_password }}"
    - name: locksmith.service
      drop-ins:
        - name: 50-etcd_credentials.conf
          content: |
            [Service]
            Environment="FLEET_ETCD_USERNAME=root"
            Environment="FLEET_ETCD_PASSWORD={{ etcd_root_password }}"
    - name: fleet.socket
      drop-ins:
        - name: 10-root-only.conf
          content: |
            [Socket]
            SocketMode=0600
            SocketUser=root
            SocketGroup=root
    - name: myselinux.service
      command: start
      content: |
        [Unit]
        Description=Set SELinux enforcing

        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStart=/usr/sbin/setenforce 1
        ExecStop=/usr/sbin/setenforce 0
write_files:
  - path: /home/core/server.pem
    permissions: 0644
    content: |
      {{ lookup('file', 'tls/server.pem') | indent(6, false) }}
  - path: /home/core/server-key.pem
    permissions: 0644
    content: |
      {{ server_key_pem | indent(6, false) }}
  - path: /home/core/ca.pem
    permissions: 0644
    content: |
      {{ lookup('file', 'tls/ca.pem') | indent(6, false) }}
  - path: /etc/selinux/config
    permissions: 644
    content: |
      SELINUX=enforcing
      SELINUXTYPE=mcs
ssh_authorized_keys:
{% for ssh_key in authorized_ssh_keys %}
  - {{ ssh_key }}
{% endfor %}
hostname: {{ vm }}
