[Unit]
Description=Duplicity to restore media directory for IMS
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p \
  --cap-drop=all \
  -e AWS_PREFIX=ims06-media \
  -e AWS_BUCKET=${AWS_BUCKET} \
  -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
  -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
  -e AWS_ENDPOINT_URL=s3://${S3_HOST} \
  -v {{ volume.mount }}/media/:/var/media/:z \
  ebisc/duplicity:latest \
  run-duplicity-restore
ExecStop=/usr/bin/docker stop %p
