[Unit]
Description=Duplicity media directory backups for IMS
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p \
  --cap-drop=all \
  -e AWS_BUCKET=${AWS_BUCKET} \
  -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
  -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
  -e AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL} \
  -v {{ volume.mount }}/media/:/var/media/:z,ro \
  ebisc/duplicity:latest
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
