[Service]
Environment="SWIFT_AUTHURL={{ swift_auth  }}"
Environment="SWIFT_USER={{ swift_user }}"
Environment="SWIFT_PASSWORD={{ swift_key }}"
Environment="POSTGRESQL_ADMIN_PASSWORD={{ postgresql_admin_password }}"
