[Unit]
Description=IMS collectstatic and migrate
Requires=docker.service
Requires=ims-postgres.service
After=docker.service
After=ims-postgres.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "/bin/systemctl set-environment IMS_USER_ID=$(id -u {{ ims_user }})"
ExecStart=/usr/bin/docker run --name %p \
  --cap-drop=all \
  --user=${IMS_USER_ID} \
  --env-file /var/projects/ebisc/ebisc-ims/%p.service.env \
  --read-only \
  --net=ebisc \
{% if proxy_host != '' %}
  --add-host={{ proxy_host }} \
{% endif %}
{% if hpscreg_host != '' %}
  --add-host={{ hpscreg_host }} \
{% endif %}
  --tmpfs /tmp \
  -v {{ data_dir }}/media:/app/var/media:z \
  -v {{ data_dir }}/static:/app/var/static:z \
  ebisc/ims-uwsgi:latest \
  run-deploy
ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=0
