[Unit]
Description=Postgres database for IMS
Requires=docker.service
After=docker.service

[Service]
KillMode=none
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "/bin/systemctl set-environment POSTGRES_USER_ID=$(id -u {{ postgres_user }})"
ExecStart=/usr/bin/docker run --name %p --restart=always \
  --cap-drop=all \
  --user=${POSTGRES_USER_ID} \
  --net=ebisc \
  --add-host={{ proxy_host }} \
  --env-file /var/projects/ebisc/postgres/%p.service.env \
  -v {{ data_dir }}/postgres:/var/lib/pgsql/data:z \
  ebisc/postgres:latest
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
