[Unit]
Description=UWSGI server for IMS
Requires=docker.service
Wants=ims-postgres.service
Wants=ims-elasticsearch.service
After=docker.service
After=ims-postgres.service
After=ims-elasticsearch.service

[Service]
KillMode=none
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "/bin/systemctl set-environment IMS_USER_ID=$(id -u {{ ims_user }})"
ExecStart=/usr/bin/docker run --name %p \
  --restart=always \
  --cap-drop=all \
  --user=${IMS_USER_ID} \
  -e DB_USER=${POSTGRESQL_USER} \
  -e DB_PASS=${POSTGRESQL_PASSWORD} \
  -e DB_NAME=${POSTGRESQL_DATABASE} \
  -e DB_HOST=ims-postgres \
  -e ES_HOST=ims-elasticsearch \
  -e SENDGRID_API_KEY=${SENDGRID_API_KEY} \
  -e SECRET_KEY=${DJANGO_SECRET_KEY} \
  -e HPSCREG_USER=${HPSCREG_USER} \
  -e BIOSAMPLES_KEY=${BIOSAMPLES_KEY} \
  -e http_proxy=${http_proxy} \
  -e https_proxy=${https_proxy} \
  --publish 9191:9191 \
  --read-only \
  --tmpfs /tmp \
  --net=ebisc \
  --add-host={{ proxy_host }} \
  -v {{ data_dir }}/media:/app/var/media:z \
  -v {{ data_dir }}/static:/app/var/static:z \
  ebisc/ims-uwsgi:latest
ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
