[Unit]
Description=Postgres database for IMS
Requires=docker.service
After=docker.service

[Service]
KillMode=none
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p --restart=always \
  --cap-drop=all \
  --net=ebisc \
  -e POSTGRESQL_USER=${POSTGRESQL_USER} \
  -e POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD} \
  -e POSTGRESQL_DATABASE=${POSTGRESQL_DATABASE} \
  -e POSTGRESQL_ADMIN_PASSWORD=${POSTGRESQL_ADMIN_PASSWORD} \
  -e WALE_S3_PREFIX=s3://${AWS_BUCKET}/{{ vm }}06-postgres/pgsql \
  -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
  -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
  -e WALE_S3_ENDPOINT=https+path://${S3_HOST} \
  -e ENABLE_BACKUPS=${ENABLE_BACKUPS} \
  -v {{ volume.mount }}/postgres_data:/var/lib/pgsql/data:z \
  ebisc/postgres:latest
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
