[Unit]
Description=IMS daily imports
Requires=docker.service
Requires=ims-postgres.service
Requires=ims-elasticsearch.service
After=docker.service
After=ims-postgres.service
After=ims-elasticsearch.service

[Service]
Environment=HOSTNAME=%H
Environment=CONTAINER_NAME=%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker kill mailer-%p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=-/usr/bin/docker rm mailer-%p
ExecStartPre=/bin/sh -c "/bin/systemctl set-environment IMS_USER_ID=$(id -u {{ ims_user }})"
ExecStart=/usr/bin/docker run --name %p \
  --cap-drop=all \
  --user=${IMS_USER_ID} \
  --env-file /var/projects/ebisc/ebisc-ims/%p.service.env \
  --read-only \
  --tmpfs /tmp \
  --net=ebisc \
  --add-host={{ proxy_host }} \
  -v {{ data_dir }}/media:/app/var/media:z \
  -v {{ data_dir }}/static:/app/var/static:z \
  ebisc/ims-uwsgi:latest \
  run-ims-update
ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=0
ExecStopPost=/usr/bin/bash -c "/usr/bin/docker logs ${CONTAINER_NAME} 2>&1 \
  | /usr/bin/docker run -i \
    --name mailer-${CONTAINER_NAME} \
    --cap-drop=all \
    --env-file /var/projects/ebisc/ebisc-ims/%p-mailer.service.env \
    -e SUBJECT=${CONTAINER_NAME} \
    -e FROM_HOST=${HOSTNAME} \
    ebisc/mailer:latest"

[Install]
WantedBy=multi-user.target
