[Service]
Environment="POSTGRESQL_USER={{ postgresql_user }}"
Environment="POSTGRESQL_PASSWORD={{ postgresql_password }}"
Environment="POSTGRESQL_DATABASE={{ postgresql_database }}"
Environment="DJANGO_SECRET_KEY={{ django_secret_key }}"
Environment="SENDGRID_API_KEY={{ email_api_key }}"
{% if ims_role == "production" %}
Environment="BIOSAMPLES_KEY={{ biosample_key }}"
{% endif %}
