[Service]
Environment="AWS_ACCESS_KEY_ID={{ aws_access_key }}"
Environment="AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}"
Environment="AWS_ENDPOINT_URL={{ wale_aws_endpoint_url }}"
Environment="AWS_BUCKET={{ aws_bucket }}"
Environment="POSTGRESQL_ADMIN_PASSWORD={{ postgresql_admin_password }}"
