[Service]
Environment="MONGODB_USER={{ mongodb_user }}"
Environment="MONGODB_PASSWORD={{ mongodb_password }}"
Environment="MONGODB_DATABASE={{ mongodb_database }}"
Environment="MONGODB_ADMIN_PASSWORD={{ mongodb_admin_password }}"

