[Service]
Environment="MONGODB_ADMIN_PASSWORD={{ mongodb_admin_password }}"
Environment="MONGODB_PASSWORD={{ mongodb_password }}"
Environment="MONGODB_USER={{ mongodb_user }}"
Environment="MONGODB_DATABASE={{ mongodb_database }}"
Environment="ST_AUTH={{ swift_auth }}"
Environment="ST_KEY={{ swift_key }}"
Environment="ST_USER={{ swift_user }}"

