[Service]
Environment="MONGODB_USER={{ mongodb_user }}"
Environment="MONGODB_PASSWORD={{ mongodb_password }}"
Environment="MONGODB_DATABASE={{ mongodb_database }}"
Environment="AWS_ACCESS_KEY_ID={{ aws_access_key }}"
Environment="AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}"
Environment="AWS_ENDPOINT_URL={{ aws_endpoint_url }}"
Environment="AWS_BUCKET={{ aws_bucket }}"
