[Service]
Environment="MONGODB_USER={{ mongodb_user }}"
Environment="MONGODB_PASS={{ mongodb_password }}"
Environment="MONGODB_DATABASE={{ mongodb_database }}"
Environment="HPSCREG_USER={{ hpscreg_user_tracker }}"
Environment="HPSCREG_PASS={{ hpscreg_pass_tracker }}"
Environment="IMS_USER={{ ims_user_tracker }}"
Environment="IMS_PASS={{ ims_pass_tracker }}"
