[Service]
Environment="MONGODB_USER={{ mongodb_user }}"
Environment="MONGODB_PASSWORD={{ mongodb_password }}"
Environment="MONGODB_DATABASE={{ mongodb_database }}"
Environment="HPSCREG_USER={{ hpscreg_user }}"
Environment="HPSCREG_PASS={{ hpscreg_pass }}"
Environment="IMS_USER={{ ims_user }}"
Environment="IMS_PASS={{ ims_pass }}"
