[Unit]
Description=Generate letsencrypt certificates
Requires=docker.service
Requires=nginx.service
After=docker.service
After=nginx.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p \
  --read-only \
  --tmpfs /var/lib/letsencrypt \
  --tmpfs /var/log/letsencrypt \
  --cap-drop=all \
  -v /var/projects/ebisc/www:/usr/share/nginx/html:rw,z \
  -v /var/projects/ebisc/letsencrypt:/etc/letsencrypt:rw,z \
  ebisc/letsencrypt:latest
ExecStop=/usr/bin/docker stop %p
