[Unit]
Description=Run nginx
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p \
  --read-only \
  --restart=always \
  --tmpfs /var/cache/nginx \
  --tmpfs /run \
  --tmpfs /var/log/nginx \
  --cap-drop=all \
  --publish 80:8080 --publish 443:8443 \
  -v /var/projects/ebisc/htpasswd:/etc/nginx/htpasswd:ro,Z \
  -v /var/projects/ebisc/www:/usr/share/nginx/html:ro,z \
  -v /var/projects/ebisc/letsencrypt:/etc/letsencrypt:ro,z \
  ebisc/nginx:latest
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
