[Unit]
Description=Private docker registry
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=120
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull registry:latest
ExecStart=/usr/bin/docker run --name %n --restart=always -p 5000:5000 \
  -e "REGISTRY_STORAGE=swift" \
  -e "REGISTRY_STORAGE_SWIFT_USERNAME={{ swift.user }}" \
  -e "REGISTRY_STORAGE_SWIFT_PASSWORD={{ swift.password }}" \
  -e "REGISTRY_STORAGE_SWIFT_AUTHURL={{ swift.authurl }}" \
  -e "REGISTRY_STORAGE_SWIFT_CONTAINER=ebisc_registry" \
  registry
ExecStop=/usr/bin/docker stop registry
KillMode=none

[X-Fleet]
Global=true
