[Unit]
Description=Take backups of media directory at 08:30:00

[Timer]
OnCalendar=*-*-* 08:30:00
Unit=freezer.service

[Install]
WantedBy=multi-user.target
