#cloud-config
coreos:
  update:
    reboot-strategy: reboot
    group: {{ release_channel }}
  locksmith:
    window_start: 00:00
    window_length: 1h
  units:
    - name: enforce-selinux.service
      command: start
      content: |
        [Unit]
        Description=Set SELinux enforcing

        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStart=/usr/sbin/setenforce 1
        ExecStop=/usr/sbin/setenforce 0
    - name: docker.service
      drop-ins:
        - name: "50-enforce-selinux.conf"
          content: |
            [Unit]
            Requires=enforce-selinux.service
            After=enforce-selinux.service
ssh_authorized_keys:
{% for ssh_key in authorized_ssh_keys %}
  - {{ ssh_key }}
{% endfor %}
hostname: {{ vm }}
