#!/bin/sh

certbot certonly \
  --webroot \
  --webroot-path /usr/share/nginx/html \
{% for domain in ims_domains %}
{% if domain.letsencrypt %}
  --domain {{ domain.name }} \
{% endif %}
{% endfor %}
{% if ims_role == "production" %}
  --domain {{ tracker_domain }} \
{% endif %}
  --non-interactive \
  --agree-tos \
  --email {{ log_mail_to }} \
  --preferred-challenges http-01  \
  --allow-subset-of-names \
  --expand \
  --keep-until-expiring
